<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    @import url('https://fonts.cdnfonts.com/css/old-london');
    body {
         font-family: 'Old London', sans-serif;
    }
    </style>
</head>
<body>
    <h1>Site de roupas</h1>
    <header>
        <nav>
            <a href="/camisa">Camisas</a>
            <a href="/bermuda">Bermudas</a>
            <a href="Meias">Meias</a>
        </nav>
    </header>
    <h1>Bermuda</h1>
    <div>
        Bermuda do pokemon - R$60,00 
        <a href="/bermuda/pokemon">Ver +</a>
    </div>
    <div>
        Bermuda da Barbie - R$70,00 
        <a href="/bermuda/barbie">Ver +</a>
    </div>
</body>
</html>