<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Site de roupas</h1>
    <header>
        <nav>
            <a href="/camisa">Camisas</a>
            <a href="/bermuda">Bermudas</a>
            <a href="/meias">Meias</a>
            <a href="/fale">Fale Conosco</a>
           
        </nav>
    </header>
