<%- include('cabecalho.ejs')%>
    <h1>Camisas</h1>
    <div>
        Polo Branca - R$30,00 
        <a href="/camisa/poloB">Ver +</a>
    </div>
    <div>
        Polo Preta - R$40,00 
        <a href="/camisa/poloP">Ver +</a>
    </div>
    <%- include('rodape.ejs')%>