<%- include('cabecalho.ejs')%>
<h1>Fale Conosco</h1>
<div>
    <form method="post">
        <label for="txtNome">Nome:</label>
        <input type="text" name="txtNome" id="txtNome">
        <br>
        <label for="txtAssunto">Assunto:</label>
        <select name="txtAssunto" id="txtAssunto">
            <option value="">Selecione</option>
            <option value="duvida">Dúvida</option>
            <option value="troca">Troca</option>
            <option value="outro">Outro</option>
        </select>
        <br>
        <label for="txtMsg">Msg:</label>
        <textarea name="txtMsg" id="txtMsg"></textarea>
        <br>
        <button type="submit">Enviar</button>
        <button type="reset">Limpar</button>
    </form>
</div>


<%- include('rodape.ejs')%>